@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;900&display=swap");
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.header {
  display: inline-block;
  width: 100%;
  background-color: #e4e7f0;

  .header_top {
    display: flex;
    justify-content: flex-end;
    background-color: #e4e7f0;
    padding: 0.25rem 2rem;

    div {
      padding-left: 1rem;
    }

    a {
      text-transform: uppercase;
      text-decoration: none;
      color: black;
      font-size: 12px;
      font-weight: 600;
    }
  }

  .header_main {
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem;
    border-bottom: 1px solid #e4e7f0;
    background-color: white;

    .header_main__logo {
      margin-right: 20px;
      img {
        height: 45px;
      }
    }

    .header_main_search {
      flex: 1;
      margin: auto;

      input {
        width: 80%;
      }

      form {
        display: flex;
        justify-content: center;

        input {
          padding: 8px;
          border-radius: 10px;
          border: 1px solid grey;
          outline: none;
        }
      }
    }

    .header_main__explore {
      select {
        border: none;
        outline: none;
        padding: 10px;
        background-color: white;
      }
    }

    .header_main__user {
      display: flex;
      justify-content: flex-end;
      width: 50px;
    }
  }

  .header_bottom {
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 0.75rem;

    a {
      text-transform: uppercase;
      text-decoration: none;
      color: black;
      font-size: 14px;
      font-weight: 600;
    }
  }
}

//Header done
main {
  padding: 1rem 0;
  max-width: 1200px;
  margin: auto;
  //Products
  .products {
    margin: 0 2rem;

    .products_row {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 2rem;
      row-gap: 1rem;
      grid-auto-columns: 300px;

      .products_column {
        .product_card {
          margin: 1rem 0;
          padding: 0.5rem;
          border: 1px solid gray;
          border-radius: 10px;
          height: 100%;
          width: 100%;

          .product_card__img {
            a {
              img {
                height: 100%;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
