@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.header {
  display: inline-block;
  width: 100%;
  background-color: #e4e7f0;
}

.header .header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #e4e7f0;
  padding: 0.25rem 2rem;
  font-family: "Epilogue", sans-serif;
}

.header .header_top div {
  padding-left: 1rem;
}

.header .header_top a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-weight: 600;
}

.header .header_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #e4e7f0;
  background-color: white;
  font-family: "Epilogue", sans-serif;
}

.header .header_main .header_main__logo {
  margin-right: 20px;
}

.header .header_main .header_main__logo img {
  height: 45px;
}

.header .header_main .header_main_search {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: auto;
}

.header .header_main .header_main_search input {
  width: 80%;
}

.header .header_main .header_main_search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header_main .header_main_search form input {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid grey;
  outline: none;
}

.header .header_main .header_main__explore select {
  border: none;
  outline: none;
  padding: 10px;
  background-color: white;
}

.header .header_main .header_main__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50px;
}

.header .header_bottom {
  padding: 0.5rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  margin-bottom: 0.75rem;
  font-family: "Epilogue", sans-serif;
}

.header .header_bottom a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 600;
}

main {
  margin: auto;
}

main .slider {
  height: 530px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .home_wrapper {
  padding: 1rem 2rem;
  max-width: 1440px;
  margin: auto;
}

main .categories h3 {
  margin: 0.75rem 0;
  font-family: "Epilogue", sans-serif;
  font-weight: 600;
  font-size: 29px;
}

main .categories .category_row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-columns: minmax(-webkit-min-content, 438px);
  grid-auto-columns: minmax(min-content, 438px);
  row-gap: 1rem;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

main .categories .category_row .category_column .category_card {
  position: relative;
}

main .categories .category_row .category_column .category_card .category_card__img img {
  height: 100%;
  width: 100%;
}

main .categories .category_row .category_column .category_card .category_card__body {
  background-color: #0000ff;
  width: calc(100% - 20%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 0;
  border-radius: 20px;
  z-index: 1;
  position: absolute;
  bottom: 5%;
  right: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main .categories .category_row .category_column .category_card .category_card__body a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 19px;
  font-family: "Epilogue", sans-serif;
  font-weight: 600;
  padding: 0.2rem;
}

main .products h3 {
  margin: 0.75rem 0;
  margin: 0.75rem 0;
  font-family: "Epilogue", sans-serif;
  font-weight: 600;
  font-size: 29px;
  color: #181932;
}

main .products .products_header {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .products .products_header h3 {
  font-family: "Epilogue", sans-serif;
  font-weight: 600;
  font-size: 29px;
  color: #181932;
}

main .products .products_header a {
  color: #0000ff;
  font-weight: bold;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}

main .products .products_header a svg path {
  fill: #0000ff;
}

main .products .products_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: hidden;
}

main .products .products_row .products_column .product_card {
  margin: 1rem 0;
  border-radius: 10px;
  height: 360px;
  width: 300px;
  margin-right: 1rem;
}

main .products .products_row .products_column .product_card .product_card__img {
  position: relative;
}

main .products .products_row .products_column .product_card .product_card__img a img {
  height: 300px;
  width: 100%;
}

main .products .products_row .products_column .product_card .product_card__img .product_card_wish {
  position: absolute;
  top: 4%;
  right: 4%;
  height: 30px;
  width: 30px;
  background-color: #ffe5e5;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

main .products .products_row .products_column .product_card .product_card__body a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

main .products .products_row .products_column .product_card .product_card__body span {
  color: #a1bdca;
}

main .products .products_row .products_column .product_card .product_card__footer {
  padding-top: 0.5rem;
}

main .product_details {
  padding: 1rem 0;
  max-width: 1440px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: 10% 50% auto;
      grid-template-columns: 10% 50% auto;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

main .product_details .product_details__options {
  height: 894px;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
}

main .product_details .product_details__options .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .product_details .product_details__options .back div {
  width: 99px;
  height: 99px;
}

main .product_details .product_details__options .options {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

main .product_details .product_details__options .options .options__img {
  width: 99px;
  height: 99px;
  background-color: #f9f7f7;
  border: #e4e7f0;
}

main .product_details .product_details__options .options .options__img img {
  width: 100%;
  height: 100%;
}

main .product_details .product_details__img {
  background-color: #f9f7f7;
  height: 894px;
}

main .product_details .product_details__img img {
  width: 100%;
  height: 100%;
}

main .product_details .product_details__description .description_header {
  border-bottom: 1px solid #e4e7f0;
}

main .product_details .product_details__description .description_header h1 {
  font-family: "Epilogue", sans-serif;
  font-weight: 600;
  font-size: 29px;
  color: #181932;
  padding: 1rem 0;
}

main .product_details .product_details__description .description_style {
  padding-bottom: 1rem;
  border-bottom: 1px solid #e4e7f0;
}

main .product_details .product_details__description .description_style h3 {
  font-weight: 600;
  font-size: 19px;
  font-family: "Epilogue", sans-serif;
  padding: 0.5rem;
}

main .product_details .product_details__description .description_style .style_options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .product_details .product_details__description .description_style .style_options div {
  margin: 0 0.5rem;
  width: 120px;
  height: 130px;
  border: 1px solid #e4e7f0;
  background-color: #f9f7f7;
  border-radius: 10px;
}

main .product_details .product_details__description .description_color {
  padding-bottom: 1rem;
  border-bottom: 1px solid #e4e7f0;
}

main .product_details .product_details__description .description_color h3 {
  font-weight: 600;
  font-size: 19px;
  font-family: "Epilogue", sans-serif;
  padding: 0.5rem;
}

main .product_details .product_details__description .description_color .color_options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .product_details .product_details__description .description_color .color_options div {
  margin: 0 0.5rem;
  width: 30px;
  height: 30px;
  border: 1px solid #e4e7f0;
  background-color: #f9f7f7;
  border-radius: 50%;
}

main .product_details .product_details__description .description_sizechart {
  padding-bottom: 1rem;
  border-bottom: 1px solid #e4e7f0;
}

main .product_details .product_details__description .description_sizechart .sizechart__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20%;
}

main .product_details .product_details__description .description_sizechart .sizechart__header h3 {
  font-weight: 600;
  font-size: 19px;
  font-family: "Epilogue", sans-serif;
  padding: 0.5rem;
}

main .product_details .product_details__description .description_sizechart .sizechart__header select {
  color: #181932;
  font-weight: 600;
  font-size: 18px;
  border: none;
  background-color: transparent;
  outline: none;
}

main .product_details .product_details__description .description_sizechart .sizechart__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .product_details .product_details__description .description_sizechart .sizechart__body div {
  margin: 0 0.5rem;
  width: 48px;
  height: 48px;
  border: 1px solid #f9f7f7;
  color: #181932;
  font-size: 16px;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

main .product_details .product_details__description .description_cartinfo {
  padding: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .product_details .product_details__description .description_cartinfo select {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #3399ff;
  border-radius: 5px;
  background-color: transparent;
  outline: none;
}

main .product_details .product_details__description .description_cartinfo button {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  background-color: #3399ff;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

main .product_details .product_details__description .description_cartinfo button svg {
  margin-left: 0.25rem;
}

main .product_details .product_details__description .description_cartinfo button svg path {
  fill: white;
}

main .product_details .product_details__description .description_meta .meta_header {
  padding: 0.5rem 0;
}

main .product_details .product_details__description .description_meta .meta_header h4 {
  font-weight: 600;
  font-family: "Epilogue", sans-serif;
  color: #181932;
  font-size: 19px;
}

main .product_details .product_details__description .description_meta .meta_header p {
  padding: 0.25rem 0;
  font-weight: 300;
  font-size: 18px;
}

main .product_details .product_details__description .description_meta .meta_description {
  padding: 0.5rem 0;
}

main .product_details .product_details__description .description_meta .meta_description h4 {
  font-weight: 600;
  font-family: "Epilogue", sans-serif;
  color: #181932;
  font-size: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .product_details .product_details__description .description_meta .meta_description ul {
  margin-left: 1rem;
  font-weight: 300;
  font-size: 18px;
  color: #181932;
}

main .product_details .product_details__description .description_meta .meta_description ul li {
  margin-top: 00.5rem;
}

main .product_details .product_details__description .description_meta .meta_footer {
  padding: 0.5rem 0;
}

main .product_details .product_details__description .description_meta .meta_footer h4 {
  font-weight: 600;
  font-family: "Epilogue", sans-serif;
  color: #181932;
  font-size: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .product_details .product_details__description .description_meta .meta_footer p {
  padding: 0.25rem 0;
  font-weight: 300;
  font-size: 18px;
}

main .stores {
  margin: 2.5rem 0;
}

main .stores .stores_header {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .stores .stores_header h3 {
  font-family: "Epilogue", sans-serif;
  font-weight: 600;
  font-size: 29px;
  color: #181932;
}

main .stores .stores_header a {
  color: #0000ff;
  font-weight: bold;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}

main .stores .stores_header a svg path {
  fill: #0000ff;
}

main .stores .store_row {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  overflow: hidden;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

main .stores .store_row .store_column .store_card {
  margin: 1rem 0;
  border-radius: 10px;
  height: 350px;
  width: 340px;
  position: relative;
}

main .stores .store_row .store_column .store_card .store_card_wish {
  position: absolute;
  top: 4%;
  right: 4%;
  background-color: #ffe5e5;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

main .stores .store_row .store_column .store_card .store_card__img a img {
  height: 300px;
  width: 100%;
}

main .stores .store_row .store_column .store_card .store_card__body {
  padding-top: 1rem;
}

main .stores .store_row .store_column .store_card .store_card__body p {
  font-weight: 300;
  color: #181932;
  font-size: 18px;
}

main .stores .store_row .store_column .store_card .store_card__body a {
  text-decoration: none;
  font-weight: #181932;
  font-size: 18px;
  color: #181932;
}

main .sale {
  border-top: 1px solid #a1bdca;
  border-bottom: 1px solid #a1bdca;
  margin: 4rem 0;
}

main .sale .sale_banner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55% 40%;
      grid-template-columns: 55% 40%;
  grid-gap: 50px;
  padding: 2rem;
}

main .sale .sale_banner__right .banner_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1.5rem;
}

main .sale .sale_banner__right .banner_list img {
  width: 86px;
  height: 90px;
  margin-right: 1rem;
}

main .sale .sale_banner__right .banner_list p {
  font-size: 20px;
}

main .sale .sale_banner__left {
  position: relative;
}

main .sale .sale_banner__left h1 {
  padding: 1rem 0;
  font-family: "Epilogue", sans-serif;
  font-weight: 600;
  font-size: 71px;
  color: #181932;
}

main .sale .sale_banner__left p {
  font-size: 29px;
  font-weight: 400;
  color: #181932;
}

main .sale .sale_banner__left button {
  padding: 10px 20px;
  background-color: #0000ff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  position: absolute;
  bottom: 0;
  font-size: 19px;
  font-weight: 600;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
}

main .sale .sale_banner__left button svg path {
  fill: white;
}

main .create_banner {
  border-bottom: 1px solid #a1bdca;
}

main .create_banner .banner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 2rem;
}

main .create_banner .banner .banner_list img {
  height: 300px;
  width: 100%;
}

main .create_banner .banner .banner_list h1 {
  padding: 1rem 0;
  font-weight: 600;
  font-size: 50px;
}

main .create_banner .banner .banner_list p {
  font-size: 29px;
  font-weight: 400;
}

main .create_banner .banner .banner_list_middle {
  position: relative;
}

main .create_banner .banner .banner_list_middle img {
  height: 647px;
  width: auto;
}

main .create_banner .banner .banner_list_middle .banner_list_middle__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 20%;
  -webkit-transform: translate(-10%, -20%);
          transform: translate(-10%, -20%);
}

main .create_banner .banner .banner_list_middle .banner_list_middle__inner h3 {
  font-weight: 600;
  font-family: "Epilogue", sans-serif;
  font-size: 29px;
}

main .create_banner .banner .banner_list_middle .banner_list_middle__inner button {
  padding: 10px 20px;
  background-color: #0000ff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  width: 50%;
  margin: 1rem 0;
  font-weight: 600;
  font-size: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .create_banner .banner .banner_list_middle .banner_list_middle__inner button svg {
  margin-left: 1rem;
}

main .create_banner .banner .banner_list_middle .banner_list_middle__inner button svg path {
  fill: white;
}

main .home_store {
  margin: 10px 0;
}

main .home_store .custom_create {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55% 40%;
      grid-template-columns: 55% 40%;
  grid-gap: 50px;
  padding: 2rem;
}

main .home_store .custom_create .custom_create_left {
  position: relative;
}

main .home_store .custom_create .custom_create_left h1 {
  font-size: 71px;
  padding: 1rem 0;
  font-weight: 600;
  font-family: "Epilogue", sans-serif;
}

main .home_store .custom_create .custom_create_left p {
  font-size: 30px;
  padding: 1rem 0;
}

main .home_store .custom_create .custom_create_left button {
  padding: 10px 20px;
  color: #0000ff;
  font-weight: bold;
  border: 2px solid #0000ff;
  background-color: white;
  border-radius: 20px;
  width: 80%;
  font-size: 19px;
  font-weight: 600;
  font-family: "Epilogue", sans-serif;
  margin: 1rem 0;
  position: absolute;
  bottom: 0;
}

main .home_store .custom_create .custom_create_right img {
  width: 100%;
  height: 100%;
}

footer {
  max-width: 1440px;
  margin: auto;
  padding: 2rem 2.5rem;
  background-color: #142328;
  color: white;
  height: 400px;
}

footer .footer_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer_top img {
  height: 46px;
}

footer .footer_top .footer_top__inner {
  text-align: center;
  color: #ffe5e5;
}

footer .footer_top .footer_top__inner h1 {
  font-weight: 600;
  font-size: 29px;
  font-family: "Epilogue", sans-serif;
}

footer .footer_top .footer_top__inner p {
  font-weight: 600;
  font-size: 14px;
}

footer .footer_bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

footer .footer_bottom .footer_bottom__inner {
  padding-top: 1rem;
}

footer .footer_bottom .footer_bottom__inner span {
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 5px;
}

footer .footer_bottom .footer_bottom__inner .footer_bottom__links {
  padding-top: 8px;
}

footer .footer_bottom .footer_bottom__inner .footer_bottom__links p {
  font-weight: 300;
  font-size: 12px;
  padding: 2px 0;
}

footer .footer_bottom .footer_bottom__social {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .footer_bottom .footer_bottom__social .footer_bottom__icons {
  width: 50px;
}

footer .footer_bottom .footer_bottom__social .footer_bottom__icons svg {
  margin-right: 1rem;
}

footer .footer_bottom .footer_bottom__social .footer_bottom__icons svg path {
  fill: #58c0d0;
}
/*# sourceMappingURL=index.css.map */