@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

$epilogue: "Epilogue", sans-serif;
$fontColor: #181932;
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

html {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

footer {
  max-width: 1440px;
  margin: auto;
  padding: 2rem 2.5rem;
  background-color: #142328;
  color: white;
  height: 400px;

  .footer_top {
    display: flex;
    justify-content: space-between;

    img {
      height: 46px;
    }

    .footer_top__inner {
      text-align: center;
      color: #ffe5e5;

      h1 {
        font-weight: $semibold;
        font-size: 29px;
        font-family: $epilogue;
      }
      p {
        font-weight: $semibold;
        font-size: 14px;
      }
    }
  }
  .footer_bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .footer_bottom__inner {
      padding-top: 1rem;
      span {
        font-weight: $semibold;
        font-size: 12px;
        margin-bottom: 5px;
      }
      .footer_bottom__links {
        padding-top: 8px;
        p {
          font-weight: $light;
          font-size: 12px;
          padding: 2px 0;
        }
      }
    }

    .footer_bottom__social {
      width: 95%;
      display: flex;
      margin-top: 2rem;
      justify-content: flex-end;

      .footer_bottom__icons {
        width: 50px;
        svg {
          margin-right: 1rem;
          path {
            fill: #58c0d0;
          }
        }
      }
    }
  }
}

.header {
  display: inline-block;
  width: 100%;
  background-color: #e4e7f0;

  .header_top {
    display: flex;
    justify-content: flex-end;
    background-color: #e4e7f0;
    padding: 0.25rem 2rem;
    font-family: "Epilogue", sans-serif;

    div {
      padding-left: 1rem;
    }

    a {
      text-transform: uppercase;
      text-decoration: none;
      color: black;
      font-size: 12px;
      font-weight: 600;
    }
  }

  .header_main {
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem;
    border-bottom: 1px solid #e4e7f0;
    background-color: white;
    font-family: $epilogue;

    .header_main__logo {
      margin-right: 20px;
      img {
        height: 45px;
      }
    }

    .header_main_search {
      flex: 1;
      margin: auto;

      input {
        width: 80%;
      }

      form {
        display: flex;
        justify-content: center;

        input {
          padding: 8px;
          border-radius: 10px;
          border: 1px solid grey;
          outline: none;
        }
      }
    }

    .header_main__explore {
      select {
        border: none;
        outline: none;
        padding: 10px;
        background-color: white;
      }
    }

    .header_main__user {
      display: flex;
      justify-content: flex-end;
      width: 50px;
    }
  }

  .header_bottom {
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 0.75rem;
    font-family: $epilogue;

    a {
      text-transform: uppercase;
      text-decoration: none;
      color: black;
      font-size: 14px;
      font-weight: 600;
    }
  }
}

//Header done
main {
  //padding: 1rem 0;

  margin: auto;
  //Products

  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      min-height: 100%;
      min-width: 100%;
      object-fit: cover;
    }
  }

  .home_wrapper {
    padding: 1rem 2rem;
    max-width: 1440px;
    margin: auto;
  }

  .categories {
    h3 {
      margin: 0.75rem 0;
      font-family: $epilogue;
      font-weight: $semibold;
      font-size: 29px;
    }

    .category_row {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-columns: minmax(min-content, 438px);
      row-gap: 1rem;
      column-gap: 1rem;

      .category_column {
        .category_card {
          position: relative;

          .category_card__img {
            img {
              height: 100%;
              width: 100%;
            }
          }
          .category_card__body {
            background-color: #0000ff;
            //width: 100%;
            width: calc(100% - 20%);
            display: flex;
            justify-content: center;
            padding: 8px 0;
            border-radius: 20px;

            z-index: 1;
            position: absolute;
            bottom: 5%;
            right: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            a {
              color: white;
              text-decoration: none;
              text-transform: uppercase;
              font-size: 19px;
              font-family: $epilogue;
              font-weight: $semibold;
              padding: 0.2rem;
            }
          }
        }
      }
    }
  }

  .products {
    h3 {
      margin: 0.75rem 0;
      margin: 0.75rem 0;
      font-family: $epilogue;
      font-weight: $semibold;
      font-size: 29px;
      color: $fontColor;
    }

    .products_header {
      margin-top: 1.5rem;
      display: flex;
      justify-content: space-between;

      h3 {
        font-family: $epilogue;
        font-weight: $semibold;
        font-size: 29px;
        color: $fontColor;
      }

      a {
        color: #0000ff;
        font-weight: bold;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;

        svg {
          path {
            fill: #0000ff;
          }
        }
      }
    }

    .products_row {
      display: flex;
      width: 100%;
      overflow: hidden;

      .products_column {
        .product_card {
          margin: 1rem 0;
          border-radius: 10px;
          height: 360px;
          width: 300px;
          margin-right: 1rem;

          .product_card__img {
            position: relative;
            a {
              img {
                height: 300px;
                width: 100%;
                //border: 1px solid #a1bdca;
              }
            }
            .product_card_wish {
              position: absolute;
              top: 4%;
              right: 4%;
              height: 30px;
              width: 30px;
              background-color: #ffe5e5;
              display: grid;
              place-items: center;
              border-radius: 50%;
            }
          }

          .product_card__body {
            a {
              text-decoration: none;
              font-weight: bold;
              color: black;
            }
            span {
              color: #a1bdca;
            }
          }

          .product_card__footer {
            padding-top: 0.5rem;
          }
        }
      }
    }
  }

  //Product Page

  .product_details {
    padding: 1rem 0;
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 10% 50% auto;
    column-gap: 20px;

    .product_details__options {
      //height: 894px;
      display: grid;
      grid-auto-flow: row;
      grid-template-rows: 20% 50%;
      .back {
        display: flex;
        justify-content: center;

        div {
          width: 99px;
          height: 99px;
        }
      }

      .options {
        display: grid;
        place-items: center;

        .options__img {
          width: 99px;
          height: 99px;
          background-color: #f9f7f7;
          border: #e4e7f0;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .product_details__img {
      //background-color: #f9f7f7;
      //height: 894px;

      img {
        width: 100%;
        //height: 100%;
      }
    }

    .product_details__description {
      .description_header {
        border-bottom: 1px solid #e4e7f0;
        h1 {
          font-family: $epilogue;
          font-weight: $semibold;
          font-size: 29px;
          color: $fontColor;
          padding: 1rem 0;
        }
      }

      .description_style {
        padding-bottom: 1rem;
        border-bottom: 1px solid #e4e7f0;
        h3 {
          font-weight: $semibold;
          font-size: 19px;
          font-family: $epilogue;
          padding: 0.5rem;
        }

        .style_options {
          display: inline-flex;

          div {
            margin: 10px 0.5rem;

            input[type="radio"] {
              display: none;
            }

            label {
              padding: 0.5rem 0.8rem;
              border-radius: 10px;
              border: 1px solid #f9f7f7;
              cursor: pointer;
              width: 30px;
              height: 30px;
            }

            input[type="radio"]:checked + label {
              border: 1px solid #3399ff;
              color: #3399ff;
            }
          }
        }
      }

      .description_color {
        padding-bottom: 1rem;
        border-bottom: 1px solid #e4e7f0;
        h3 {
          font-weight: $semibold;
          font-size: 19px;
          font-family: $epilogue;
          padding: 0.5rem;
        }

        .colorOptions {
          display: inline-flex;

          div {
            margin: 10px 0.5rem;

            input[type="radio"] {
              display: none;
            }

            label {
              padding: 0.5rem 0.8rem;
              border-radius: 10px;
              border: 1px solid #f9f7f7;
              cursor: pointer;
              width: 30px;
              height: 30px;
            }

            input[type="radio"]:checked + label {
              border: 1px solid #3399ff;
              color: #3399ff;
            }
          }
        }
      }

      .description_sizechart {
        padding-bottom: 1rem;
        border-bottom: 1px solid #e4e7f0;
        .sizechart__header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-right: 20%;
          h3 {
            font-weight: $semibold;
            font-size: 19px;
            font-family: $epilogue;
            padding: 0.5rem;
          }

          select {
            color: $fontColor;
            font-weight: $semibold;
            font-size: 18px;
            border: none;
            background-color: transparent;
            outline: none;
          }
        }

        .sizechart__body {
          display: inline-flex;
          div {
            margin: 10px 0.5rem;

            // border: 1px solid #f9f7f7;
            //color: $fontColor;
            //font-size: 16px;
            //border-radius: 10px;
            //display: grid;
            //place-items: center;

            input[type="radio"] {
              display: none;
            }

            label {
              padding: 0.5rem 0.8rem;
              border-radius: 10px;
              border: 1px solid #f9f7f7;
              cursor: pointer;
            }

            input[type="radio"]:checked + label {
              border: 1px solid #3399ff;
              color: #3399ff;
            }
          }
        }
      }

      .description_cartinfo {
        margin: 10px 0;
        padding: 0.25rem;
        display: flex;

        select {
          padding: 8px;
          margin-right: 10px;
          border: 1px solid #3399ff;
          border-radius: 5px;
          background-color: transparent;
          outline: none;
        }

        button {
          text-transform: uppercase;
          font-weight: $semibold;
          font-size: 16px;

          padding: 0 1rem;
          display: flex;
          justify-content: center;
          align-items: center;

          outline: none;
          border: none;
          border-radius: 5px;
          cursor: pointer;

          svg {
            margin-left: 0.25rem;
            path {
              fill: white;
            }
          }
        }

        .disabled {
          background-color: gray;
          color: white;
        }
        .active {
          background-color: #3399ff;
          color: white;
        }
      }

      .description_meta {
        .meta_header {
          padding: 0.5rem 0;
          h4 {
            font-weight: $semibold;
            font-family: $epilogue;
            color: $fontColor;
            font-size: 19px;
          }

          p {
            padding: 0.25rem 0;
            font-weight: $light;
            font-size: 18px;
          }
        }
        .meta_description {
          padding: 0.5rem 0;
          h4 {
            font-weight: $semibold;
            font-family: $epilogue;
            color: $fontColor;
            font-size: 19px;
            display: flex;

            align-items: center;
          }

          ul {
            margin-left: 1rem;
            font-weight: $light;
            font-size: 18px;
            color: $fontColor;

            li {
              margin-top: 00.5rem;
            }
          }
        }
        .meta_footer {
          padding: 0.5rem 0;
          h4 {
            font-weight: $semibold;
            font-family: $epilogue;
            color: $fontColor;
            font-size: 19px;
            display: flex;

            align-items: center;
          }

          p {
            padding: 0.25rem 0;
            font-weight: $light;
            font-size: 18px;
          }
        }
      }
    }
  }

  //End of Product Page

  .stores {
    margin: 2.5rem 0;
    .stores_header {
      margin-top: 1.5rem;
      display: flex;
      justify-content: space-between;

      h3 {
        font-family: $epilogue;
        font-weight: $semibold;
        font-size: 29px;
        color: $fontColor;
      }

      a {
        color: #0000ff;
        font-weight: bold;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;

        svg {
          path {
            fill: #0000ff;
          }
        }
      }
    }
    .store_row {
      display: grid;
      grid-auto-flow: column;
      overflow: hidden;
      column-gap: 1rem;

      .store_column {
        .store_card {
          margin: 1rem 0;
          border-radius: 10px;
          height: 350px;
          width: 340px;
          position: relative;

          .store_card_wish {
            position: absolute;
            top: 4%;
            right: 4%;
            background-color: #ffe5e5;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            display: grid;
            place-items: center;
          }

          .store_card__img {
            a {
              img {
                height: 300px;
                width: 100%;
              }
            }
          }

          .store_card__body {
            padding-top: 1rem;
            p {
              font-weight: $light;
              color: $fontColor;
              font-size: 18px;
            }
            a {
              text-decoration: none;
              font-weight: $fontColor;
              font-size: 18px;
              color: $fontColor;
            }
          }
        }
      }
    }
  }

  .sale {
    border-top: 1px solid #a1bdca;
    border-bottom: 1px solid #a1bdca;
    margin: 4rem 0;

    .sale_banner {
      display: grid;
      grid-template-columns: 55% 40%;
      grid-gap: 50px;
      padding: 2rem;
    }

    .sale_banner__right {
      .banner_list {
        display: flex;
        align-items: center;
        padding-bottom: 1.5rem;
        img {
          width: 86px;
          height: 90px;
          margin-right: 1rem;
        }

        p {
          font-size: 20px;
        }
      }
    }

    .sale_banner__left {
      position: relative;
      h1 {
        padding: 1rem 0;
        font-family: $epilogue;
        font-weight: $semibold;
        font-size: 60px;
        color: $fontColor;
      }

      p {
        font-size: 23px;
        font-weight: $normal;
        color: $fontColor;
      }

      button {
        padding: 10px 20px;
        background-color: #0000ff;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 20px;
        position: absolute;
        bottom: 0;
        font-size: 19px;
        font-weight: $semibold;
        display: grid;
        grid-auto-flow: column;
        place-items: center;

        svg {
          path {
            fill: white;
          }
        }
      }
    }
  }

  .create_banner {
    border-bottom: 1px solid #a1bdca;
    .banner {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      padding: 2rem;

      .banner_list {
        img {
          height: 300px;
          width: 100%;
        }

        h1 {
          padding: 1rem 0;
          font-weight: $semibold;
          font-size: 35px;
        }

        p {
          font-size: 23px;
          font-weight: $normal;
        }
      }

      .banner_list_middle {
        position: relative;
        img {
          height: 647px;
          width: auto;
        }

        .banner_list_middle__inner {
          display: flex;
          flex-direction: column;
          align-items: center;
          z-index: 1;
          position: absolute;
          bottom: 0;
          left: 20%;
          transform: translate(-10%, -20%);

          h3 {
            font-weight: $semibold;
            font-family: $epilogue;
            font-size: 29px;
          }

          button {
            padding: 10px 20px;
            background-color: #0000ff;
            color: white;
            font-weight: bold;
            border: none;
            border-radius: 20px;
            width: 50%;
            margin: 1rem 0;
            font-weight: $semibold;
            font-size: 19px;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
              margin-left: 1rem;
              path {
                fill: white;
              }
            }
          }
        }
      }
    }
  }

  .home_store {
    margin: 10px 0;
    .custom_create {
      display: grid;
      grid-template-columns: 55% 40%;
      grid-gap: 50px;
      padding: 2rem;

      .custom_create_left {
        position: relative;
        h1 {
          font-size: 40px;
          padding: 1rem 0;
          font-weight: $semibold;
          font-family: $epilogue;
        }

        p {
          font-size: 23px;
          padding: 1rem 0;
        }

        button {
          padding: 10px 20px;
          color: #0000ff;
          font-weight: bold;
          border: 2px solid #0000ff;
          background-color: white;
          border-radius: 20px;
          width: 80%;
          font-size: 19px;
          font-weight: $semibold;
          font-family: $epilogue;
          margin: 1rem 0;
          position: absolute;
          bottom: 0;
        }
      }

      .custom_create_right {
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  //Category Page
  .category_details {
    max-width: 1440px;
    margin: auto;

    .category_banner {
      background-color: #04677b;
      color: white;
      font-family: $epilogue;
      padding: 6rem 3rem;

      h1 {
        font-weight: $semibold;
        font-size: 71px;
        padding-bottom: 1rem;
      }

      p {
        font-weight: $medium;
        font-size: 29px;
        padding-bottom: 1rem;
      }
    }
  }

  //Store Page
  .store_details {
    max-width: 1440px;
    margin: auto;

    .store_banner {
      width: 100%;
      height: 400px;
      background-color: #142328;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      color: white;

      p {
        padding: 1rem 2rem;
      }
    }

    .store_filters {
      width: 100%;
      height: 68px;
      background-color: #ffe5e5;
      display: flex;
      justify-content: center;
      align-items: center;

      > div {
        padding: 0 1rem;

        select {
          padding: 0.25rem;
          margin: 0 0.25rem;
          outline: none;
          border: 1px solid #ffe5e5;
          border-radius: 5px;
        }
      }
    }

    .store_shareOptions {
      padding: 3rem 0;
      display: grid;
      place-items: center;

      h3 {
        font-size: 19px;
        font-weight: $semibold;
        font-family: $epilogue;
        color: $fontColor;
        padding-bottom: 0.5rem;
      }

      .social_media {
        display: flex;
        .social_media_icons {
          height: 38px;
          width: 38px;
        }
      }
    }
  }

  //cart Page
  .cart {
    max-width: 1440px;
    margin: auto;

    .description {
      h1 {
        color: $fontColor;
        font-weight: $semibold;
        font-family: $epilogue;
        font-size: 29px;
      }
    }

    .cart_content {
      display: grid;
      grid-template-columns: 70% 25%;
      column-gap: 50px;
      .description {
        .cart_body {
          table {
            border-collapse: collapse;
            width: 100%;
          }

          th {
            font-family: $epilogue;
            font-weight: $semibold;
            font-size: 20px;
          }

          tr:last-child {
            td {
              border: none;
            }
          }

          td,
          th {
            // border-top: 1px solid #625d5d;
            border-bottom: 1px solid #dddddd;
            text-align: left;
            padding: 20px 0;

            .item_content {
              display: flex;
              .product_Image {
                width: 120px;
                height: 120px;
                background-color: #ffe5e5;
                margin-right: 4rem;

                img {
                  width: 100%;
                  height: 100%;
                }
              }

              .cart_description {
                p {
                  font-weight: $normal;
                  font-size: 16px;
                  line-height: 1.5;
                }

                a {
                  font-size: 18px;
                  font-weight: $semibold;
                  color: #0000ff;
                }
              }
            }

            .item_content__qty {
              display: flex;
              justify-content: center;
              align-items: flex-start;
              select {
                padding: 20px;
              }
            }

            .total {
              display: flex;
              flex-direction: column;
              float: right;
              h4 {
                text-align: right;
                margin-bottom: 0.5rem;

                span {
                  padding: 0 1rem;
                }
              }
              p {
                //word-wrap: normal;
                //width: 250px;
                text-align: right;
                font-size: 12px;
                padding-bottom: 1rem;
              }

              button {
                margin-top: 1rem;
                padding: 16px;
                border-radius: 30px;
                width: 100%;
                font-family: $epilogue;
                background-color: white;
                color: #0000ff;
                border: none;
                border: 2px solid #0000ff;
                font-size: 19px;
                text-transform: capitalize;
                font-weight: $semibold;
              }
            }
          }
        }
      }
      .summary {
        table {
          border-collapse: collapse;
          width: 100%;
        }

        th {
          font-family: $epilogue;
          font-weight: $semibold;
          font-size: 24px;
        }

        td,
        th {
          text-align: left;
          padding: 20px 0;
        }

        tr:nth-child(even) {
          border-bottom: 1px solid #ddd;
        }

        tr:last-child {
          border-bottom: none;

          button {
            margin-top: 1rem;
            padding: 16px;
            border-radius: 5px;
            width: 100%;
            font-family: $epilogue;
            background-color: #0000ff;
            color: white;
            border: none;
            font-size: 19px;
            text-transform: capitalize;
            font-weight: $semibold;
          }
        }

        .item_content {
          display: flex;
          .product_total {
            margin-right: 2rem;
            p {
              font-weight: $normal;
              font-size: 16px;
              line-height: 2;
            }
          }

          .cart_description {
            p {
              font-weight: $normal;
              font-size: 16px;
              line-height: 2;
            }
          }
        }

        .item_content__qty {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          select {
            padding: 20px;
          }
        }
      }
    }

    .cart_relatable {
      margin: 2rem;
    }
  }

  //End of Main
}
